<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--=== Favicon ===-->
  <link rel="shortcut icon" href="{%static 'images/logo1.ico' %}" type="image/x-icon" />

  <title>TravelIn</title>

  <!--=== Bootstrap CSS ===-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!--=== Slicknav CSS ===-->
  <link href="{% static 'css/plugins/slicknav.min.css' %}" rel="stylesheet">
  <!--=== Magnific Popup CSS ===-->
  <link href="{% static 'css/plugins/magnific-popup.css' %}" rel="stylesheet">
  <!--=== Owl Carousel CSS ===-->
  <link href="{% static 'css/plugins/owl.carousel.min.css' %}" rel="stylesheet">
  <!--=== Gijgo CSS ===-->
  <link href="{% static 'css/plugins/gijgo.css' %}" rel="stylesheet">
  <!--=== FontAwesome CSS ===-->
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <!--=== Theme Reset CSS ===-->
  <link href="{% static 'css/reset.css' %}" rel="stylesheet">
  <!--=== Main Style CSS ===-->
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
  <!--=== Responsive CSS ===-->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">


  <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

  <!--== Preloader Area Start ==-->
  <div class="preloader">
    <div class="preloader-spinner">
      <div class="loader-content">
        <img src="{% static 'imgages/preloader.gif' %}" alt="JSOFT">
      </div>
    </div>
  </div>
  <!--== Preloader Area End ==-->

  <!--== Header Area Start ==-->
  <header id="header-area" class="fixed-top">
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
      <div class="container">
        <div class="row">
          <!--== Single HeaderTop Start ==-->
          <div class="col-lg-3 text-left">
            <i class="fa fa-map-marker"></i> 666/2, Bengaluru , India
          </div>
          <!--== Single HeaderTop End ==-->

          <!--== Single HeaderTop Start ==-->
          <div class="col-lg-3 text-center">
            <i class="fa fa-mobile"></i> +91 9899999999
          </div>
          <!--== Single HeaderTop End ==-->

          <!--== Single HeaderTop Start ==-->
          <div class="col-lg-3 text-center">
            <i class="fa fa-clock-o"></i> Mon-Sat 09.00 - 17.00
          </div>
          <!--== Single HeaderTop End ==-->

          <!--== Social Icons Start ==-->
          <div class="col-lg-3 text-right">
            <div class="header-social-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a><i class="fa fa-youtube" aria-hidden="true"></i></a>

            </div>
          </div>
          <!--== Social Icons End ==-->
        </div>
      </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
      <div class="container">
        <div class="row">
          <!--== Logo Start ==-->
          <div class="col-lg-4">
            <a href="{% url 'index' %}" class="logo">
              <!--  <img src="assets/img/carlogo1.png" alt="JSOFT">-->
              <h2><a href="{% url 'index' %}">TravelIn</a></h2>
            </a>
          </div>
          <!--== Logo End ==-->

          <!--== Main Menu Start ==-->
          <div class="col-lg-8 d-none d-xl-block">
            <nav class="mainmenu alignright">
              <ul>
                <li><a href="{% url 'index' %}">Home</a>

                </li>
                <li class="active"><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'package1' %}">services</a></li>
                <li><a href="{% url 'gallery' %}">Gallery</a></li>

                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li class=""><a href="{% url 'faq' %}">FAQ</a></li>
              </ul>
            </nav>
          </div>
          <!--== Main Menu End ==-->
        </div>
      </div>
    </div>
    <!--== Header Bottom End ==-->
  </header>
  <!--== Header Area End ==-->

  <!--== Page Title Area Start ==-->
  <section id="page-title-area" class="section-padding overlay">
    <div class="container">
      <div class="row">
        <!-- Page Title Start -->
        <div class="col-lg-12">
          <div class="section-title  text-center">
            <h2>About US</h2>
            <span class="title-line"><i class="fa fa-car"></i></span>
            <p>TravelIn-A signature of excellence.</p>
          </div>
        </div>
        <!-- Page Title End -->
      </div>
    </div>
  </section>
  <!--== Page Title Area End ==-->
  <!--== Team Area Start ==-->
  <section id="team-area" class="section-padding">
    <div class="container">
      <div class="row">
        <!-- Section Title Start -->
        <div class="col-lg-12">
          <div class="section-title  text-center">
            <h2>Our Creative Persons</h2>
            <span class="title-line"><i class="fa fa-car"></i></span>
            <p> TravelIn</p>
          </div>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="team-content">
            <div class="row">
              <!-- Team Tab Menu start -->
              <div class="col-lg-4">
                <div class="team-tab-menu">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                        <div class="team-mem-icon">
                          <img src="{% static 'images/team/team-mem-thumb-1.png' %}" alt="JSOFT">
                        </div>
                        <h5>Akshay v kumar</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                        <div class="team-mem-icon">
                          <img src="assets/img/team/team-mem-thumb-3.png" alt="JSOFT">
                        </div>
                        <h5>Dixit</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                        <div class="team-mem-icon">
                          <img src="{% static/img/team/team-mem-thumb-2.png" alt="JSOFT">
                        </div>
                        <h5>Kiran</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                        <div class="team-mem-icon">
                          <img src="{% static 'images/team/team-mem-thumb-4.png' %}" alt="JSOFT">
                        </div>
                        <h5>Akshay</h5>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                        <div class="team-mem-icon">
                          <img src="{% static 'images/team/team-mem-thumb-4.png' %}" alt="JSOFT">
                        </div>
                        <h5>YMS</h5>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Team Tab Menu End -->

              <!-- Team Tab Content start -->
              <div class="col-lg-8">
                <div class="tab-content" id="myTabContent">
                  <!-- Single Team  start -->
                  <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-pro-pic">
                          <img src="{% static 'images/team/team-mem-1.png' %}" alt="JSOFT">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-info text-center">
                          <h4>Akshay v kumar</h4>
                          <h5>Developer</h5>
                          <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                          <p>awesome working experience in travelIn application!!!</p>
                          <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Team  End -->

                  <!-- Single Team  start -->
                  <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-pro-pic">
                          <img src="{% static 'images/team/team-mem-3.png' %}" alt="JSOFT">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-info text-center">
                          <h4>dixit</h4>
                          <h5>Designer</h5>""
                          <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                          <p>awesome working experience in travelIn application!!!</p>
                          <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Team  End -->

                  <!-- Single Team  start -->
                  <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-pro-pic">
                          <img src="{% static 'images/team/team-mem-2.png' %} alt="JSOFT">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-info text-center">
                          <h4>kiran</h4>
                          <h5>Marketer</h5>
                          <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                          <p>awesome working experience in travelIn application!!!</p>
                          <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Team  End -->

                  <!-- Single Team  start -->
                  <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-pro-pic">
                          <img src="{% static 'images/team/team-mem-4.png' %}" alt="JSOFT">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="team-member-info text-center">
                          <h4>Akshay</h4>
                          <h5>Manager</h5>
                          <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                          <p>awesome working experience in travelIn application!!!</p>
                          <div class="team-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single Team  End -->
                </div>
              </div>
              <!-- Team Tab Content End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== Team Area End ==-->
  <!--== About Page Content Start ==-->
  <section id="about-area" class="section-padding">
    <div class="container">
      <div class="row">
        <!-- Section Title Start -->
        <div class="col-lg-12">
          <div class="section-title  text-center">
            <h2> AVAILABLE CAR</h2>
            <span class="title-line"><i class="fa fa-car"></i></span>
            <p class="animated infinite jello delay-2s slow"><b>TravelIn</b>-A signature of excellence.</p>
          </div>
        </div>
        <!-- Section Title End -->
      </div>

      <div class="row">
        <!-- About Content Start -->
        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="about-content available-car-area">
                <p>The Toyota Corolla (E120/E130) is the ninth generation of compact cars sold by Toyota under the Corolla nameplate. In Japan, this series arrived to the market in August 2000; however, exports were typically not achieved until
                  2001depending on the market.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- About Content End -->

        <!-- About Video Start -->
        <div class="col-lg-6">
          <div class="about-image">
            <img src="{% static 'images/home-2-about.png' %}" alt="JSOFT">
          </div>
        </div>
        <!-- About Video End -->
      </div>

      <!-- About Fretutes Start -->
      <div class="about-feature-area">
        <div class="row">
          <!-- Single Fretutes Start -->
          <div class="col-lg-4">
            <div class="about-feature-item active">
              <i class="fa fa-car"></i>
              <h3>Sedan</h3>
              <p>The sedan and station wagon arrived first in August 2000, followed by the five-door hatchback in January 2001, and the Europe-only three-door hatchback </p>
            </div>
          </div>
          <!-- Single Fretutes End -->

          <!-- Single Fretutes Start -->
          <div class="col-lg-4">
            <div class="about-feature-item active">
              <i class="fa fa-car"></i>
              <h3>HatchBack</h3>
              <p>A hatchback is a car with a hatch-type rear door that opens upwardsand often a shared volume for the passenger and cargo areas..hatchback in January 2001</p>
            </div>
          </div>
          <!-- Single Fretutes End -->

          <!-- Single Fretutes Start -->
          <div class="col-lg-4">
            <div class="about-feature-item active">
              <i class="fa fa-car"></i>
              <h3>MUV</h3>
              <p>larger vehicles which can tackle a wide range . typically allow easy conversion between multiple combinations of passenger- luggage capacity.</p>
            </div>
          </div>
          <!-- Single Fretutes End -->
        </div>
      </div>
      <!-- About Fretutes End -->
    </div>
  </section>
  <!--== About Page Content End ==-->

  <!--== Our Facility Content Start ==-->
  <section id="our-facility" class="section-padding overlay">
    <div class="container">
      <div class="row">
        <!-- Single Facility Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-our-facility">
            <h3>SEDAN RENT</h3>
            <ul>
              <li>Honda City</li>
              <li>Swift Dzire</li>
              <li>Etios GD</li>
              <li>corolla</li>
              <li>Verito</li>
              <li>Ciaz</li>
              <li>vento</li>
            </ul>
          </div>
        </div>
        <!-- Single Facility Start -->

        <!-- Single Facility Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-our-facility">
            <h3>HATCHBACK CAR</h3>
            <ul>
              <li>swift</li>
              <li>etios liva</li>
              <li>Polo</li>
              <li>Indica</li>

            </ul>
          </div>
        </div>
        <!-- Single Facility Start -->

        <!-- Single Facility Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-our-facility">
            <h3>MUV</h3>
            <ul>
              <li>Innova</li>
              <li>Innova Crysta</li>
              <li>XUV 500</li>
              <li>Ertiga</li>
              <li>Morazzo</li>
            </ul>
          </div>
        </div>
        <!-- Single Facility Start -->

        <!-- Single Facility Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-our-facility">
            <h3>AIRPORT TRANSPORT</h3>
            <ul>
              <li>Sedan</li>
              <li>HatchBack</li>
              <li>MUV</li>

            </ul>
          </div>
        </div>
        <!-- Single Facility Start -->
      </div>
    </div>
  </section>
  <!--== Our Facility Content End ==-->
  <section>
    <!-- Footer Bottom Start -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>
                document.write(new Date().getFullYear());
              </script> All rights reserved by <a href="https://TravelIn.com" target="_blank">TravelIn</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Bottom End -->
  </section>





  <!--== Scroll Top Area Start ==-->
  <div class="scroll-top">
    <img src="{% static 'img/up-arrow-png-8.png' %}" alt="JSOFT">
  </div>
  <!--== Scroll Top Area End ==-->

  <!--=======================Javascript============================-->
  <!--=== Jquery Min Js ===-->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <!--=== Jquery Migrate Min Js ===-->
  <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <!--=== Popper Min Js ===-->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!--=== Bootstrap Min Js ===-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--=== Gijgo Min Js ===-->
  <script src="{% static 'js/plugins/gijgo.js' %}"></script>
  <!--=== Vegas Min Js ===-->
  <script src="{% static 'js/plugins/vegas.min.js' %}"></script>
  <!--=== Isotope Min Js ===-->
  <script src="{% static 'js/plugins/isotope.min.js' %}"></script>
  <!--=== Owl Caousel Min Js ===-->
  <script src="{% static 'js/plugins/owl.carousel.min.js' %}"></script>
  <!--=== Waypoint Min Js ===-->
  <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
  <!--=== CounTotop Min Js ===-->
  <script src="{% static 'js/plugins/counterup.min.js' %}"></script>
  <!--=== YtPlayer Min Js ===-->
  <script src="{% static 'js/plugins/mb.YTPlayer.js' %}"></script>
  <!--=== Magnific Popup Min Js ===-->
  <script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>
  <!--=== Slicknav Min Js ===-->
  <script src="{% static 'js/plugins/slicknav.min.js' %}"></script>

  <!--=== Mian Js ===-->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>