{% extends "travel/header.html" %}
{% block content %}
 <style type="text/css">
    .div1{
        position:relative;
        float:left;
        height:400px;
        width:60%;
        top: 10%;
        border:dashed;
        border-radius: 5px;
    }
    .div2{
        position: relative;
        float:left;
        height:400px;
        margin-left: 25px;
        width:33.5%;
        background-color:black;
        color: white;
        top: 10%;
        border:dashed;
        border-radius: 5px;
    }
    pre{
        color: red;
    }
</style>
<div style="width: block;height:130px;">
    <div class="div1">
        <h1>welcome</h1>
    <pre>dfehufjerf
    ddfrrg efd brfvh f vweg
     efgdefdgvef v efndsgvj3rmeds gvcerfd gv
    esdgv refsdgvb erndsg v 3redsgv3resdgve </pre>
    </div>
    <div class="div2"><img src="/media/user.jpeg" width="100%" alt="image"/> ushfuehfnn wehfipew ffowehbfwe f</div>
</div>
	
	<!----<p style="color:blue;text-align:center"> xcnjdvcjhdviaqeiuodrgowqhgedjqwbsknxb mzvjcashdcudwgdiwghdiwhdwbdmhws<br>
      kjdbvwgefiwetfyuewgflkdfhishfiusgfvigryfgvwygfrgfkdrgfkgfgfjgffwc</p>
    <form style="text-align:left;color:black;position:relative;left:100px">
    	<h2 style="text-align:left;color:gray">LOGIN FORM</h2>
    	<label>Username: </label><input type="text" name="Username" placeholder="Enter your user name"><br/><br/>
    	<label>Password: </label><input type="password" name="Password" placeholder="Enter your password"><br/><br/>
    	<input type="button" value="SUBMIT">
    </form>

    <form style="text-align:right;color:black;position:relative;bottom:140px;right:100px">
    	<h2 style="text-align:right;color:gray">REGISTER FORM</h2>
    	<label>Username: </label><input type="text" name="Username" placeholder="Enter your user name"><br/><br/>
    	<label>Password: </label><input type="password" name="Password" placeholder="Enter your password"><br/><br/>
    	<input type="button" value="SUBMIT">
    </form>--->

{% endblock %}